In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

------------------------------

#### Entertainment Shell

In [2]:
url = "https://timesofindia.indiatimes.com/entertainment"

In [3]:
page  = requests.get(url)

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
headlines = soup.find_all(attrs={'class': 'CRKrj'})
headline_ent = []
for headline in headlines:
    headline_ent.append(headline.text)
print(headline_ent)

["Jonita 'excited' to kick-off Dua Lipa's concert", 'Kangana: This country will never stop trivialising rape', '2024 MTV VMAs: All you need to know', 'Karisma ’s latest look is perfect for the festive season', "ISIS targeted 'thousands' at Swift concert: CIA", "Woo Bin's secret gesture for accident victim", "Kalki blames Alia for Sappho's obsession with pets", "Kim Se-jeong's best Korean dramas to binge-watch!", 'Vijay Varma reveals Manoj Bajpayee is petrified of flying', "BJP National Secretary Sirsa opposes Kangana's Emergency", "Was Salman's Sikandar shoot halted due to his rib injury?", 'Shah Rukh Khan records wealth of Rs 7,300 crore', 'Shera buys luxury car worth Rs 1.4 crore', 'Kangana on to her VIRAL pics with Chirag', 'Sidharth enjoys a game of cricket with Fawad Khan', "Jonita 'excited' to kick-off Dua Lipa's concert", 'Kangana: This country will never stop trivialising rape', '2024 MTV VMAs: All you need to know', 'Karisma ’s latest look is perfect for the festive season', "Woo Bin's secret gesture for accident victim", "Kalki blames Alia for Sappho's obsession with pets", 'Kozhikode man accuses filmmaker Ranjith of sexual abuse', 'Prithviraj Sukumaran reacts to the Hema Committee report', 'Young actress accuses Riyaz Khan of inappropriate advances', "Siddique resigns from artists' body over sexual assault allegation", 'Ranjith resigns as Kerala Chalachitra Academy Chairman', 'Sreelekha Mitra alleges director Ranjith inappropriately touched her', 'Siddique denies the existence of ‘power group’ in Malayalam cinema', 'Salman Khan Struggles To Stand At Ganpati Event; Video Leaves Fans Worried', "Actor & MP Kangana Calls Out Mollywood's 6-Year Cover-Up of Sexual Harassment | QUESTIONS Why Reports VANISHED", 'Vijay Varma’s Surprising Revelation: Manoj Bajpayee Sir Would Sit Very Intensely...', 'Shabana Azmi and Arijit Singh Amplify Voices for Justice in Kolkata', "Salman Khan's Fan Touches His Feet; Actor's reaction Goes Viral", 'Singer Taeil Leaves NCT After Sexual Offense Claims: SM Entertainment Confirms & Members Unfollow', 'IC 814 Exclusive: Anubhav Sinha, Vijay Varma & Kumud Mishra Talk Best Moments and Surprises From The Thriller', 'Kangana Ranaut Accuses Bollywood of Sabotaging Talent and Promoting Mediocrity', "Swara Bhasker on Malayalam Film Industry Scandal: 'Male-Centric and Predatory'", 'Abhishek Bachchan Spotted at Mumbai Airport with Family: Fans Concerned Over Aishwarya Rai’s Absence', 'Ritabhari Pushes Mamata Banerjee For Hema Committee Style Probe In Bengal film industry', 'Katrina Kaif’s Airport Appearance Sparks New Pregnancy Rumours', "Actresses who dropped their husband's last name amidst bitter divorce battles", "RDJ's audition tape for 'Iron Man' resurfaces - WATCH", 'Marvel star remember Chadwick Boseman', "'Joker Folie a Deux' starring Joaquin Phoenix and Lady Gaga gets EARLY October 2 release in India as Akshay Kumar's 'Sky Force' gets postponed", "Hrithik Roshan to star in 'Rings of Power'?", 'Style your saree like Keerthy Suresh', "Date Night Dresses ft. Sonam Bajwa's Style Guide", "Before 'GOAT', Vijay's films that had the lengthy runtime", '\u200bWamiqa Gabbi captivates with her mesmerising eyes \u200b', "Sonalee Kulkarni's Stunning Looks", "9 Times Sonam Bajwa's Surreal Beauty Left Us Mesmerized", 'Anju Kurian shines bright in these pics', "Jahnvi Chauhan's most stylish clicks", 'Iswarya Menon stuns gracefully in exquisite traditional sarees', '\u200bGet inspired by Keerthi Pandian sets OOTD goals\u200b', 'Priyanka Arul Mohan looks stunning in a saree', 'Bollywood films that got a re-release in 2024', "Priyanka Chopra opens up on spending time with daughter Malti Marie amidst gruelling shoot schedule for 'The Bluff'", "Jonita Gandhi says she is 'very excited' to kick-start Dua Lipa's Mumbai concert: 'I am definitely going to perform as many of my songs as I can'", 'Style your saree like Keerthy Suresh', "Karthi to play MS Dhoni's fan in 'Meiyazhagan'; audio launch scheduled for August 31", "Megan Thee Stallion hosts, Taylor Swift dominates: Here's what to know about the 2024 MTV VMAs", 'Dev drops action-packed teaser of his upcoming film', "ISIS plot aimed to target 'tens of thousands' at Taylor Swift concert in Vienna, CIA reveals", "Mudassar Aziz REACTS to Akshay Kumar's flop streak: It has also happened with Shah Rukh Khan", "Vetri Maaran’s 'Viduthalai Part 2' to release on December 20", "It's official: Nagarjuna joins Rajinikanth's 'Coolie'", "Kangana Ranaut claps back at SAD chief Simranjit Singh Mann's comments: This country will never stop trivialising rape", "Kalki Koechlin blames Alia Bhatt for daughter Sappho's obsession with pets; here's why!", "Glimpse of Sathish's 'Sattam En Kaiyil'", "Vaibhav Tatwawadi shares a picture with 'legend' Sachin Tendulkar; calls it, 'Snapshot of my childhood'", "'Kantara' to re-release in theatres after National Award win", "Michael Keaton on 'Dumbo': I was clueless", "Rajkummar would love to work with wife, 'great talent' Patralekhaa again", 'Ryan Reynolds bats for Oscars award category for stunt work']

In [6]:
df_ent = pd.DataFrame(headline_ent, columns=['Headline'])
df_ent['Genre'] = 'Entertainment'
df_ent

                                             Headline          Genre
0     Jonita 'excited' to kick-off Dua Lipa's concert  Entertainment
1   Kangana: This country will never stop triviali...  Entertainment
2                 2024 MTV VMAs: All you need to know  Entertainment
3   Karisma ’s latest look is perfect for the fest...  Entertainment
4     ISIS targeted 'thousands' at Swift concert: CIA  Entertainment
..                                                ...            ...
70  Vaibhav Tatwawadi shares a picture with 'legen...  Entertainment
71  'Kantara' to re-release in theatres after Nati...  Entertainment
72          Michael Keaton on 'Dumbo': I was clueless  Entertainment
73  Rajkummar would love to work with wife, 'great...  Entertainment
74  Ryan Reynolds bats for Oscars award category f...  Entertainment

[75 rows x 2 columns]

In [84]:
# headlines= soup.find_all(attrs= {'class' : 'CRKrj'})
# for headline in headlines:
#     print(headline.text)

In [73]:
# headlines = soup.find_all(attrs={'class': 'CRKrj'})
# headline_list = []
# for headline in headlines:
#     headline_list.append(headline.text.strip())

# # concatenate the headlines into a single string
# headline_string = "\n".join(headline_list)
# print(headline_string)

-------------------------------------

### Sports Shell

In [43]:
# url1 = "https://timesofindia.indiatimes.com/sports" #WavNE 
# url1 = "https://timesofindia.indiatimes.com/sports/cricket" #h5
# url1 = "https://timesofindia.indiatimes.com/sports/cricket/india-tour-of-sri-lanka-2024" #lSIdy col_l_6 col_m_6
url1 = "https://timesofindia.indiatimes.com/sports/cricket/icc-mens-t20-world-cup"  #h5
# url1 = "https://timesofindia.indiatimes.com/sports/cricket/icc-mens-t20-world-cup/schedule"   #YpkeL

In [44]:
page1 = requests.get(url1)

In [45]:
soup = BeautifulSoup(page1.content, 'html.parser')

In [47]:
# headlines = soup.find_all(attrs= {'class': 'WavNE'})
# headlines = soup.find_all(attrs= {'class': 'YpkeL'})
headlines = soup.find_all('h5')
# headlines = soup.find_all(class_ ='lSIdy col_l_6 col_m_6')
# headlines = soup.find_all(class_="cartHolder bigCart track timeAgo articleClick")
headline_sport5 = []
for headline in headlines:
    headline_sport5.append(headline.text)
print(headline_sport5)

["T20 World Cup: ICC rates New York, Tarouba pitches as 'unsatisfactory'", "'11 men healed us': Fans celebrate 1 month of India's title win", "'If you want to grow the sport...': Dravid defends US leg of T20 WC", 'Watch: SKY talks about his T20 WC winning catch against SA']

In [48]:
headline_sport  = headline_sport1 + headline_sport2 + headline_sport3  + headline_sport4 + headline_sport5

In [49]:
df_sports = pd.DataFrame(headline_sport, columns=['Headline'])
df_sports['Genre'] = 'Sports'

df_sports

                                              Headline   Genre
0    '50% confirmed India is coming to Pakistan for...  Sports
1    Paralympics Live: Shuttlers Palak, Sukant, Suh...  Sports
2    Watch: Frustrated SKY apologises for his 'dang...  Sports
3    DC player sees himself as future replacement f...  Sports
4    Mbappe's X account hacked; posts on Messi, Ron...  Sports
..                                                 ...     ...
129  Cricket Videos05:05Shubman Gill, Yashasvi Jais...  Sports
130  T20 World Cup: ICC rates New York, Tarouba pit...  Sports
131  '11 men healed us': Fans celebrate 1 month of ...  Sports
132  'If you want to grow the sport...': Dravid def...  Sports
133  Watch: SKY talks about his T20 WC winning catc...  Sports

[134 rows x 2 columns]

-------------------------------

### Technology Shell

In [50]:
# url2 = "https://timesofindia.indiatimes.com/technology"
# url2 = "https://timesofindia.indiatimes.com/technology/tech-tips"
# url2 = "https://timesofindia.indiatimes.com/technology/tech-news"
# url2 = "https://timesofindia.indiatimes.com/technology/mobiles-tabs"
# url2 = "https://timesofindia.indiatimes.com/technology/gaming"
# url2 = "https://timesofindia.indiatimes.com/technology/wearables"
# url2 = "https://timesofindia.indiatimes.com/technology/social"
# url2 = "https://timesofindia.indiatimes.com/technology/audio"
# url2 = "https://timesofindia.indiatimes.com/technology/laptops-pc"
# url2 = "https://timesofindia.indiatimes.com/technology/appliances"
url2 = "https://timesofindia.indiatimes.com/technology/reviews"

In [51]:
page2 = requests.get(url2)

In [52]:
soup = BeautifulSoup(page2.content, 'html.parser')

In [57]:
headlines = soup.find_all('h5')
headline_tech = []
for headline in headlines:
    headline_tech.append(headline.text)
print(headline_tech)

['Sony Bravia 7 series TV review: Sets a new benchmark', 'Boult Mustang Derby TWS review: High on features, low on price', 'LG MyView 27 Monitor review: Smart choice for most', 'Asus ROG Ally X review: An X-cellent gaming handheld']

In [404]:
headline_tech = headline_tech1 + headline_tech2 + headline_tech3 + headline_tech4 + headline_tech5 + headline_tech6 + headline_tech7 + headline_tech8 + headline_tech9 + headline_tech10 + headline_tech11

In [59]:
df_tech = pd.DataFrame(headline_tech, columns=['Headline'])
df_tech['Genre'] = 'Technology'

df_tech.tail(4)

                                            Headline       Genre
0  Sony Bravia 7 series TV review: Sets a new ben...  Technology
1  Boult Mustang Derby TWS review: High on featur...  Technology
2  LG MyView 27 Monitor review: Smart choice for ...  Technology
3  Asus ROG Ally X review: An X-cellent gaming ha...  Technology

----------------------------------

#### Business Shell

In [276]:
# urll = "https://timesofindia.indiatimes.com/business"
# urll = "https://timesofindia.indiatimes.com/business/budget"
# urll = "https://timesofindia.indiatimes.com/business/financial-literacy"
# urll = "https://timesofindia.indiatimes.com/business/india-business"
# urll = "https://timesofindia.indiatimes.com/business/international-business"
# urll = "https://timesofindia.indiatimes.com/business/stock-market"
# urll = "https://timesofindia.indiatimes.com/business/cryptocurrency"

# urll = "https://timesofindia.indiatimes.com/business/personal-finance" #8 urll

urll = "https://timesofindia.indiatimes.com/business/india-business/sensex"

<div class="KklOh">Loan borrowers take note! Now, know all-inclusive interest cost for your loan, RBI announces new measures - all about Key Fact Statement</div>

In [277]:
pagee = requests.get(urll)

In [278]:
soup = BeautifulSoup(pagee.content, 'html.parser')

In [279]:
headlines = soup.find_all(class_='Hn2z7 undefined')
# headlines = soup.find_all(class_='KklOh') #8 urll
headline_buss9= []
for headline in headlines:
    headline_buss9.append(headline.text)
print(headline_buss9)

["Sensex nears 79,000, RIL's mcap back above Rs 20 lakh croreThe stock market witnessed significant movements today, with various sectors experiencing both growth and setbacks. From blue-chip rallies to individual stock announcements, the day was filled with dynamic market activities.", 'Sensex breaches 78,000 mark for 1st time, Nifty at record high as bank stocks surge', 'Sensex closes 523 points lower on profit taking', 'Sovereign Gold Bonds to be issued from February 12-16: Invest in gold with tax benefits and interest', 'Bank of India MF aims to raise Rs 500 crore from multi-asset allocation fund in NFO period', '38:58Money Mantra Ep 5 | Labour Law Advisor founders Rishabh Jain and Mandeep Gill share their content creation journey', '38:58Money Mantra Ep 5 | Labour Law Advisor founders Rishabh Jain and Mandeep Gill share their content creation journey', 'Dhan Ki Baat | Role of policy making in financial literacy', '19:03Money Mantra Ep 4 | How content creator Neha Nagar mixes finance education with entertainment', '22:29Dhan Ki Baat | Understanding how youth perceive financial literacy', '26:18Money Mantra Ep 3 | How Prakash Gaba started investing at the age of 47', 'Dhan Ki Baat | Decoding the next decade of India’s stock market']

In [280]:
headline_business = headline_buss1 + headline_buss2 + headline_buss3 + headline_buss4 + headline_buss5 + headline_buss6 + headline_buss7  + headline_buss8 + headline_buss9

In [421]:
df_business = pd.DataFrame(headline_business, columns=['Headline'])
df_business['Genre'] = 'Business'

df_business

                                              Headline     Genre
0    Stock market today: BSE Sensex opens in red; N...  Business
1    Private capex set to surge 54% to Rs 2.5 lakh ...  Business
2    Rising aspirations behind deposit shift, says ...  Business
3    Why it’s time to explore bold & path-breaking ...  Business
4    Budget 2024 three times UPA's last Budget in 2...  Business
..                                                 ...       ...
269  Dhan Ki Baat | Role of policy making in financ...  Business
270  19:03Money Mantra Ep 4 | How content creator N...  Business
271  22:29Dhan Ki Baat | Understanding how youth pe...  Business
272  26:18Money Mantra Ep 3 | How Prakash Gaba star...  Business
273  Dhan Ki Baat | Decoding the next decade of Ind...  Business

[274 rows x 2 columns]

-------------------------------

#### Life-Style Shell

In [147]:
# url4 = "https://timesofindia.indiatimes.com/life-style?"
# url4 = "https://timesofindia.indiatimes.com/life-style/relationships"

In [148]:
page4 = requests.get(url4)

In [149]:
soup = BeautifulSoup(page4.content, 'html.parser')

In [150]:
headlines = soup.find_all('h3')
headline_life4 = []
for headline in headlines:
    headline_life4.append(headline.text)
print(headline_life4)

[]

In [158]:
headline_life = headline_life1 + headline_life2

In [422]:
df_life = pd.DataFrame(headline_life, columns=['Headline'])
df_life['Genre'] = 'Life-Style'

df_life.head()

                                            Headline       Genre
0                                      Select a City  Life-Style
1     Is bad mood affecting your work or daily life?  Life-Style
2    11 minutes of walking can unlock these benefits  Life-Style
3  8 reasons to start, finish your day with jeera...  Life-Style
4                         All about Neem Karoli baba  Life-Style

------------------------

#### Education Shell

In [72]:
url5 = "https://timesofindia.indiatimes.com/education/careers"

In [77]:
url6 = "https://timesofindia.indiatimes.com/education/colleges"

In [127]:
# url7 = "https://timesofindia.indiatimes.com/education/news"
# url7 = "https://timesofindia.indiatimes.com/education/exams"
# url7 = "https://timesofindia.indiatimes.com/education/results"
# url7 = "https://timesofindia.indiatimes.com/education/jobs"
url7 = "https://timesofindia.indiatimes.com/education/brain-teaser"

In [128]:
page5 = requests.get(url7)

In [129]:
soup = BeautifulSoup(page5.content, 'html.parser')

In [130]:
headlines = soup.find_all(class_ = 'sNF1c')
headline_edu11 = []
for headline in headlines:
    headline_edu11.append(headline.text)
print(headline_edu11)

['Observation challenge: can you spot the missing number in 10 seconds or less?', 'Optical illusion: Only the sharpest minds will succeed in this 10 second challenge', 'Visual Brain Teaser: Can You Spot the Animals with Empty Glasses in this Photo?']

In [123]:
url7 = "https://timesofindia.indiatimes.com/education/web-stories"

In [120]:
headlines = soup.find_all(class_ = 'ObA_k')
headline_edu12 = []
for headline in headlines:
    headline_edu12.append(headline.text)
print(headline_edu12)

['Bad at Math? Try These 8 Strategies to Crack the Quantitative Section of Any Exam', '9 Key differences between Indian Navy and Merchant Navy: Which pays better?', '8 skills that can make you the CEO of a company', "Words That Confuse: A Student's Guide to Avoiding Common Language Pitfalls", '8 secret mantras to beat stress at the workplace', "From vibing to bussin', amp up your Gen Z vocabulary with these words", '9 proven tips that will help you improve your IELTS reading speed and score', '7 habits that will make you smarter and more successful', 'Why do successful people start their day at 5 AM? 8 reasons for students to consider', "How to say 'I don't know' in a job interview: Here are 7 alternate phrases you can use", '10 Shakespeare quotes to motivate students', 'Fostering Integrity: 10 Strategies to Instil Honesty in Students', '8 Easiest programming languages you can learn on your own', '8 Common job search mistakes you must avoid', "8 Warning Signs That You're Sabotaging Your Own Success", '10 science-backed tips to boost your performance and top the toughest exams', 'Check 10 best colleges of DU according to NIRF 2024 rankings', '\u200b10 Reasons Why Learning a Second Language at an Early Age Benefits Students\u200b', '9 smart phrases that will make you stand out in class among peers', 'Master Your Vocabulary: 8 Unique Words for Emotions You Can Feel But Can’t Describe', '\u200b10 Surprising Habits of Toppers You Can Start Following From Today', '\u200b10 Challenges Students Must Tackle Before Studying Abroad\u200b', "Independence Day quiz for students: 5 quick questions about India's freedom movement", '9 ways you can maximise the benefits of online learning', 'Top 9 institutes of Delhi across according to NIRF 2024', 'Worried that AI might take your job? These 8 human skills will make you irreplaceable', '10 Reasons Why AI Data Science and Machine Learning Are Not the Same', 'NIRF Rankings 2024: Top 7 Engineering Institutes in Delhi', "10 school field trips you shouldn't miss", '9 essential soft-skills top recruiters look for in candidates and how to inculcate them', '\u200b10 Ways How Students Can Quickly Master a New Language\u200b', '8 Expert-backed Tips to Build Effective Study Habits', 'Independence Day speech: Simple yet impactful ideas for students', 'Preparing for JEE from Class 10: X strategies for assured success', '8 Smart Tips for Identifying and Avoiding Online Part-Time Job Scams', '9 Insider Secrets to Secure Your Dream Job at Google', '\u200b10 tricks to sharpen your classroom focus and boost engagement', '9 Important Documents Required for Student Visas', 'Enhance Your Communication Skill: 10 Powerful Words Instead of Clichés', '10 Hidden Cognitive Skills Good Students Have Been Using All Along', '10 Effortless Strategies for Students to Enhance Their Public Speaking Skills', 'Independence Day 2024: 8 thought-provoking essay ideas for students', 'GK for Students: Do You Know the Scientific Names of These Common Plants?', '10 Fun and Productive Ways Students Can Make the Most of Their Weekends', '9 Reasons Why Not Knowing Your Mother Tongue Will Limit Your Career Growth', '10 Books on Indian Independence Struggle Every Student Must Read', '9 simple ways students can overcome laziness and increase productivity', '10 Energizing Morning Habits Every Student Needs for a Power-Packed Day']

In [423]:
headline_edu = headline_edu5 + headline_edu6 + headline_edu7 + headline_edu8 + headline_edu9 + headline_edu10 + headline_edu11 + headline_edu12


df_edu = pd.DataFrame(headline_edu, columns=['Headline'])
df_edu['Genre'] = 'Education'
df_edu

                                             Headline      Genre
0   NTA releases NEET UG 2024 result ahead of time...  Education
1   5 high-return upskilling courses for engineers...  Education
2   5 summer internships at the country’s top IITs...  Education
3   UGC NET Exam 2024 on June 18: Section-wise imp...  Education
4   Want to Pursue Graduation in Karnataka? Here A...  Education
..                                                ...        ...
64  10 Fun and Productive Ways Students Can Make t...  Education
65  9 Reasons Why Not Knowing Your Mother Tongue W...  Education
66  10 Books on Indian Independence Struggle Every...  Education
67  9 simple ways students can overcome laziness a...  Education
68  10 Energizing Morning Habits Every Student Nee...  Education

[69 rows x 2 columns]

-----------------------------------------------------------

#### Health Shell

In [189]:
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/fitness"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/diet"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/de-stress"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/coronavirus"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/home-remedies"
# url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/weight-loss"
url8 = "https://timesofindia.indiatimes.com/life-style/health-fitness/wellness"

In [190]:
page6 = requests.get(url8)

In [191]:
soup = BeautifulSoup(page6.content, 'html.parser')

In [192]:
headlines = soup.find_all(class_='md_news_box')
headline_health8 = []
for headline in headlines:
    headline_health8.append(headline.text)
print(headline_health8)

['6 yoga poses to reduce neck pain', '6 best yoga poses to get relief from arthritis pain', 'Knee Pain and Mental Health: How stress, anxiety, and chronic pain interact', 'The digital revolution in active physiotherapy: How online treatment is transforming patient care', 'What is palliative care and pain management in lung cancer?', 'How important is Physiotherapy for stroke recovery ?', '5 workstation yoga exercises to increase blood flow and flexibility', 'The essence of Yoga: Unveiling the power of asanas', '6 essential yoga asanas every woman should practice for a healthy life', 'Yoga for stress management in a chaotic world', 'How yoga practices and mindfulness can benefit males battling infertility']

In [193]:
headline_health = headline_health1 + headline_health2 + headline_health3 + headline_health4 + headline_health5 + headline_health6 + headline_health7 + headline_health8

In [424]:
df_health = pd.DataFrame(headline_health, columns=['Headline'])
df_health['Genre'] = 'Health'

df_health

                                              Headline   Genre
0                                        Select a City  Health
1    ‘Stage 4 cancer but despite drugs and side eff...  Health
2    ‘Risk of Mpox outbreak low in India but we’re ...  Health
3    New tech that can significantly cut organ wait...  Health
4    5 everyday morning habits to detox kidney and ...  Health
..                                                 ...     ...
313  5 workstation yoga exercises to increase blood...  Health
314  The essence of Yoga: Unveiling the power of as...  Health
315  6 essential yoga asanas every woman should pra...  Health
316      Yoga for stress management in a chaotic world  Health
317  How yoga practices and mindfulness can benefit...  Health

[318 rows x 2 columns]

------------------------------------------

### Politics Shell

In [500]:
url = 'https://timesofindia.indiatimes.com/politics'
# url = 'https://timesofindia.indiatimes.com/politics/news'
# url = 'https://timesofindia.indiatimes.com/politics/politics-specials'
# url = 'https://timesofindia.indiatimes.com/elections'

In [501]:
pag = requests.get(url)

In [502]:
soup = BeautifulSoup(pag.content, 'html.parser')

In [503]:
headlines = soup.find_all(class_ = 'w_tle')
# headlines = soup.find_all(class_ = 'WavNE') #3
headline_politics0 = []
for headline in headlines:
    headline_politics0.append(headline.text.strip())
print(headline_politics0)

['TIPRA Motha chief meets Congress leaders as BJP eyes pact', "LS polls: 'Ahmed Patel's legacy won't go in vain,' Mumtaz says after Cong announces to give late father's seat to AAP", "Buzz over Navjot Singh Sidhu's return to BJP, Gurdaspur ticket for Yuvraj Singh", "Victory of voters: Sharad Pawar after Supreme Court ruling on his faction's name, symbol", "NCP row: Sharad faction can use 'NCP-Sharadchandra Pawar' name till further orders, SC says", 'Congress ready to fight BJP, Election Commission over Assam Delimitation: Rakibul Hussain', '“Only supporters of ‘Tukde-Tukde’ gang can think of dividing, killing Bharat Mata,” Anurag Thakur', 'Stop useless acting and false anger: Shrinate to Irani', 'When RS Chairman Dhankar appealed to Mallikarjun Kharge to take care of his health', 'Nishikant Dubey hits out at Rahul, Sonia Gandhi and I.N.D.I.A alliance', 'Opposition is underestimating the intelligence of the voters: PM Modi at NDA meet', 'TMC releases manifesto for Tripura assembly polls', 'Tripura polls: Mithun Chakraborty holds road show', 'Sanjay Raut: Government forgot Veer Savarkar', 'Who are Congress’s CM contenders in Himachal Pradesh', 'Karnataka polls: Rebel trouble haunts three major parties', 'Shettar, Savadi exits could dent BJP’s Lingayat support in Karnataka polls', 'Karnataka elections: Unruffled by revolts, BJP banks on 72 first-time candidates', "Rahul Gandhi's disqualification 'immediate & automatic' despite bail: Legal experts", "BJP to begin 'Mission 2024' for UP from January", 'Despite Punjab, HP, Delhi defeats, BJP gets ready for 2024 riding on G20', "Nitish Kumar 'Jo Piyega Wo Marega' may come back to haunt him", 'Satish Chandra Mishra: Has BSP pushed Mayawati’s man Friday to the margin?', "Mainpuri bypoll: Will chacha-bhatija's 'newfound bonhomie' survive test of time?", 'Line of No Control', 'Heart of Diplomacy', 'This road rage is really spreading', "China's Xi JInping"]

In [504]:
headline_politics = headline_politics0 + headline_politics1 + headline_politics2 + headline_politics3

In [505]:
df_politics = pd.DataFrame(headline_politics, columns=['Headline'])
df_politics['Genre'] = 'Politics'

df_politics

                                              Headline     Genre
0    TIPRA Motha chief meets Congress leaders as BJ...  Politics
1    LS polls: 'Ahmed Patel's legacy won't go in va...  Politics
2    Buzz over Navjot Singh Sidhu's return to BJP, ...  Politics
3    Victory of voters: Sharad Pawar after Supreme ...  Politics
4    NCP row: Sharad faction can use 'NCP-Sharadcha...  Politics
..                                                 ...       ...
137       MP Akhilesh Yadav quits Karhal assembly seat  Politics
138  Andhra, Odisha will usher in record developmen...  Politics
139  Wayanad or Rae Bareli, which to quit? My call ...  Politics
140  Modi cabinet 3.0: 39% ministers have criminal ...  Politics
141  Congress slams PM Modi over Parliamentary Affa...  Politics

[142 rows x 2 columns]

-----------------------

### Religion Shell

In [446]:
# urlr = "https://timesofindia.indiatimes.com/religion"
urlr = "https://timesofindia.indiatimes.com/religion/rituals-puja"

In [447]:
pager = requests.get(urlr)

In [448]:
soup = BeautifulSoup(pager.content, 'html.parser')

In [453]:
headlines = soup.find_all(class_ = 'w_tle')
headline_religion = []
for headline in headlines:
    headline_religion.append(headline.text)
print(headline_religion)

['Indian Festivals in 2024', 'Lord Vishnu Names', 'Heramba Sankashti Chaturthi 2024', 'Kajari Teej 2024', 'Narali Purnima 2024', 'Fifth Sawan Somwar 2024', 'Janmashtami 2024', 'Bahula Chaturthi 2024: Date, Time, Rituals and Significance of Bol Chauth', 'Heramba Sankashti Chaturthi 2024: Date, Time, Rituals and Significance of Bhadrapada Sankashti Chaturthi', 'Fifth Sawan Somwar 2024: Date, Rituals and Significance of last Shravan Somwar', 'Narali Purnima 2024: Date, Time, Puja Rituals and Significance', 'Full Moon on August 19, 2024: Step-by-Step Guide to Perform Puja on Shravan Purnima', 'Shravan Purnima 2024: Date, Timings, Puja Rituals and Significance', 'Shravana Putrada Ekadashi 2024: Date, Parana Time, Puja Rituals and Significance', 'Varalakshmi Vratham 2024: Date, Shubh Muhurat, Rituals and Significance', 'When is Shravan Putrada Ekadashi 2024? Date, Rituals and Significance', 'Fourth Mangala Gauri Vrat 2024: Date, Time, Rituals and Significance', 'Fourth Sawan Somwar 2024: Date, Puja Rituals and Significance of Shravan Somwar', 'Skanda Sashti August 2024: Date, Time, Puja Rituals and Significance', 'How to please Lord Shiva in Sawan Month?', 'Vinayak Chaturthi August 2024: Date, Puja Muhurat, Rituals and Significance', 'Third Mangala Gauri Vrat 2024: Date, Timings, Puja Rituals and Significance', 'Sawan Somwar 2024: Date, Time, Rituals and Significance of Third Shravan Somwar', 'Aadi Amavasai 2024: Date, Time, Rituals and Significance', 'Amavasya in August 2024: Date, Time, Rituals and Significance', 'Ekadashi in August 2024: Date, Parana Time, Rituals and Significance', 'Sawan Shivratri 2024: Date, Timings, Puja Rituals and Significance', 'Kamika Ekadashi 2024: Date, Parana Time, Rituals, Story and Significance', 'Second Sawan Somwar 2024: Date, Puja Rituals, Mantra and Significance', 'Kamika Ekadashi 2024: When is Kamika Ekadashi? Date, Time, Puja Rituals and Significance', 'Kalashtami July 2024: Date, Time, Puja Rituals and Significance', 'Sawan Shivratri 2024: When is Sawan Shivratri? Know Date, Time and Significance', 'Benefits of Worshiping Lord Shiva in Sawan Month', 'Gajanana Sankashti Chaturthi 2024: Date, Puja Time, Rituals and Significance', '10 Things to offer on Shivlinga to seek blessings of Lord Shiva', 'Mangala Gauri Vrat 2024: Date, Puja Rituals, Story and Significance', 'Sawan Somwar Vrat Katha and Step by Step Puja Vidhi', 'Satyanarayan Vrat July 2024: Date, Puja Timings, Puja Rituals and Significance of Purnima Vrat', 'Ashadha Purnima 2024: Date, Time, Rituals and Significance of Vyas Purnima', 'Sawan Somwar 2024: Date, Timings, Significance, Fasting Ritual, and Rudrabhishek Guide', "Sawan 2024 Fasting Rules: Do's and Don'ts to follow during Shravan Month", 'Jaya Parvati Vrat 2024: Date, Timings, Puja Rituals and Significance', 'Shukra Pradosh Vrat 2024: Date, Time, Puja Muhurat, Rituals and Significance', "Sawan 2024: Dos and don'ts while fasting during the month of shravan", 'Chaturmas 2024 Start and End Date: Rituals and Significance', 'Devshayani Ekadashi Parana 2024: Rituals of Breaking Ekadashi Fast', 'Ashadhi Ekadashi 2024: Date, Parana Time, Puja Rituals and Significance of Devshayani Ekadashi', 'Harela 2024: Date, Celebration, Significance and All you need to know', 'Tulsi Worship and Care Guide for Home', 'Devshayani Ekadashi 2024 Date: Parana Time, Puja Rituals, Fasting Rules and Significance of Ashadhi Ekadashi', 'Masik Durgashtami 2024: Date, Shubh Muhurat, Puja Rituals and Significance', 'Sawan 2024 Start and End Date: Puja Rituals and Significance', 'Devshayani Ekadashi 2024: When is Devshayani Ekadashi? Know Date and Parana Time', 'Skanda Sashti July 2024: Date, Time, Rituals and Significance', 'Vinayak Chaturthi July 2024: Date, Time, Rituals and Significance', 'Ashadha Amavasya 2024: Date, Time, Rituals and Significance', 'Budh Pradosh Vrat in July 2024: Date, Time, Puja Rituals and Significance']

In [456]:
df_religion  = pd.DataFrame(headline_religion, columns=['Headline'])
df_religion['Genre'] = 'Religion'

df_religion.tail()

                                             Headline     Genre
52  Devshayani Ekadashi 2024: When is Devshayani E...  Religion
53  Skanda Sashti July 2024: Date, Time, Rituals a...  Religion
54  Vinayak Chaturthi July 2024: Date, Time, Ritua...  Religion
55  Ashadha Amavasya 2024: Date, Time, Rituals and...  Religion
56  Budh Pradosh Vrat in July 2024: Date, Time, Pu...  Religion

-----------------------------------

## Marge all the df (Data)

In [506]:
data = pd.concat([df_ent, df_sports, df_tech, df_business, df_life, df_edu, df_health, df_politics, df_religion], ignore_index=True)

data.to_csv('TOI_News.csv', index=False)

In [507]:
df = pd.read_csv('TOI_News.csv')
df

                                               Headline          Genre
0      Here's why Nitesh selected Ranbir for 'Ramayana'  Entertainment
1      Tanushree Dutta criticises Hema Committee report  Entertainment
2      Michael C. Hall returns to the ‘Dexter’ universe  Entertainment
3        Behind the scenes moments with Bollywood stars  Entertainment
4      Confirmed! JL files for divorce from Ben Affleck  Entertainment
...                                                 ...            ...
1147  Devshayani Ekadashi 2024: When is Devshayani E...       Religion
1148  Skanda Sashti July 2024: Date, Time, Rituals a...       Religion
1149  Vinayak Chaturthi July 2024: Date, Time, Ritua...       Religion
1150  Ashadha Amavasya 2024: Date, Time, Rituals and...       Religion
1151  Budh Pradosh Vrat in July 2024: Date, Time, Pu...       Religion

[1152 rows x 2 columns]

In [508]:
df.Genre.value_counts()

Genre
Health           318
Business         274
Politics         142
Sports           132
Entertainment     75
Education         69
Religion          57
Technology        44
Life-Style        41
Name: count, dtype: int64